#body2{
    background-color: purple;
    
}
#page2title{
    text-align: center;
    margin: 12px;
    padding: 20px;
    font-size: 26px;
    font-family: 'Mochiy Pop One', sans-serif;
}
#page2paragraph{
    margin: 12px;
    font-size: 16px;
    padding-right: 500px;
}